#tachoButton{
    border: none;
    background: none;
}
#tachoImg{
    width: 20px;
    height: auto;
}
#elementImg{
    width: 30%;
    height: auto;
}
#mensaje{
    font-size: 40px;
    margin: 15%;
}
#tablaTotales{
    text-align: center;
    font-weight: 500;
}